body{
	font-family: Segoe UI, "Helvetica Neue";
	font-size: 14px;
	color: #666;
}
header{
	background-color: rgba(29,14,0,0.7) !important;
}
footer{
	background-color: #432A1C;
	padding: 25px 0;
	border-top: 4px solid #432a1c;
	color: #fff;
	text-align: center;
}
footer img {
    margin-bottom: 25px;
    margin-top: 10px;
}
.col-center {
	float: none;
	margin: 0 auto;
}
.wrapper {
  display: flex;
  justify-content: space-around;
}
.box {
  flex: 0 0 40%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border: 1px dashed red;
}
img {
	float: left;!important;
}
.btn-info{
	align-content: center;
	align-items: center;
}
.galery {
	display: flex;
	justify-content: center;
	margin: 20px 200px;
	padding: 10px 20px;
}
.galery img{
	border: thick;
	border-color: white;
}